{% extends "layouts/default.html" %}

{% block content %}
<header class="cover-carousel">
    <div id="cover-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/images/teste/c1.jpg')">
                <div class="carousel-caption">
                    <h2>
                        <span>Primeira Notícia</span>
                    </h2>
                    <p>
                        <span>Algum texto aqui.</span>
                    </p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('/images/teste/c2.jpg')">
                <div class="carousel-caption">
                    <h2>
                        <span>First Slide</span>
                    </h2>
                    <p>
                        <span>This is a description for the first slide.</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/images/teste/c3.jpg')">
                <div class="carousel-caption">
                    <h2>
                        <span>First Slide</span>
                    </h2>
                    <p>
                        <span>This is a description for the first slide.</span>
                    </p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/images/teste/c4.jpg')">
                <div class="carousel-caption">
                    <h2>
                        <span>First Slide</span>
                    </h2>
                    <p>
                        <span>This is a description for the first slide.</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#cover-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#cover-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <img class="logo" src="./images/logos/logo_DC_branco.png" alt="">

    <div class="areas container-fluid">
        <div class="row text-center">
            <a href="/area/visitante" id="area_visitante" class="area col">
                <h3>Área do Visitante</h3>
            </a>
            <a href="/area/docente" id="area_docente" class="area col border-left border-right border-light">
                <h3>Área do Docente</h3>
            </a>
            <a href="/area/aluno" id="area_aluno" class="area col">
                <h3>Área do Aluno</h3>
            </a>
        </div>
    </div>
</header>

<main role="main" class="container">

    <div class="section">
        <h1>
            <i class="fas fa-calendar-alt"></i> Agenda</h1>
        <hr>

        <div class="row justify-content-center">

            <div class="evento border">

                <div class="evento-data border-right text-center">
                    <h1>15/04</h1>
                    <h6>
                        <i class="fas fa-clock"></i> 9:00 - 12:00</h6>
                    <span class="badge badge-primary">Apresentação</span>
                </div>
                <div class="evento-corpo">
                    <h5>SECOMP</h5>
                    <p>Aqui vai uma descrição do evento ahouodsi dakfjdsfj </p>
                </div>
            </div>

            <div class="evento border">
                <div class="evento-data border-right text-center">
                    <h1>15/04</h1>
                    <h6>
                        <i class="fas fa-clock"></i> 9:00 - 12:00</h6>
                    <span class="badge badge-primary">Apresentação</span>
                </div>
                <div class="evento-corpo">
                    <h5>SECOMP</h5>
                    <p>Aqui vai uma descrição do evento ahouodsi dakfjdsfj </p>
                </div>
            </div>

            <div class="evento border">
                <div class="evento-data border-right text-center">
                    <h1>15/04</h1>
                    <h6>
                        <i class="fas fa-clock"></i> 9:00 - 12:00</h6>
                    <span class="badge badge-primary">Apresentação</span>
                </div>
                <div class="evento-corpo">
                    <h5>SECOMP</h5>
                    <p>Aqui vai uma descrição do evento ahouodsi dakfjdsfj </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h1>
            <i class="fas fa-newspaper"></i> Notícias</h1>
        <hr>
        <div class="row no-gutters">
            <div class="col">
                <div id="noticias-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="carousel-item active" style="background-image: url('/images/teste/c4.jpg')">

                            <div class="carousel-caption">
                                <h4>
                                    Notícia 1
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                        <!-- End Item -->

                        <div class="carousel-item" style="background-image: url('/images/teste/c1.jpg')">

                            <div class="carousel-caption">
                                <h4>
                                    Notícia 2
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                        <!-- End Item -->

                        <div class="carousel-item" style="background-image: url('/images/teste/c2.jpg')">

                            <div class="carousel-caption">
                                <h4>
                                    Notícia 2
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                        <!-- End Item -->

                        <div class="carousel-item" style="background-image: url('/images/teste/c3.jpg')">

                            <div class="carousel-caption">
                                <h4>
                                    Notícia 2
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                        <!-- End Item -->

                    </div>
                    <!-- End Carousel Inner -->


                    <!-- Controls -->
                    <div class="carousel-controls">
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#noticias-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#noticias-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <!-- End Carousel -->
            </div>

            <div id="noticias-thumb" class="col-4 no-gutters d-flex flex-column justify-content-between bg-dark text-light">

                <div data-target="#noticias-carousel" data-slide-to="0" class="active border-bottom">
                    <h4>Notícia 1</h4>
                    <p>Alguma descrição aqui</p>
                </div>

                <div data-target="#noticias-carousel" data-slide-to="1" class="border-bottom">
                    <h4>Notícia 2</h4>
                    <p>Alguma descrição aqui</p>
                </div>

                <div data-target="#noticias-carousel" data-slide-to="2" class="border-bottom">
                    <h4>Notícia 3</h4>
                    <p>Alguma descrição aqui</p>
                </div>

                <div data-target="#noticias-carousel" data-slide-to="3">
                    <h4>Notícia 4</h4>
                    <p>Alguma descrição aqui</p>
                </div>
            </div>
        </div>

    </div>

</main>

<iframe class="mb-0 mt-5" height="300px" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.8238490302215!2d-47.88273818439348!3d-21.979722710974197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8711e42fdad05%3A0x6a0cd2ccbce13d28!2sDepartamento+de+Computa%C3%A7%C3%A3o%2C+Universidade+Federal+de+S%C3%A3o+Carlos!5e0!3m2!1sen!2sus!4v1480425559308" 
    frameborder="0" allowfullscreen></iframe>
{% endblock %}