{% extends "layouts/default.html" %}

{% block content %}
	{# <header>

		<!-- <img class="logo" src="./images/logos/logo_DC_branco.png" alt=""> -->

		<div class="areas container-fluid">
			<div class="row text-center">
				<a href="/area/visitante" id="area_visitante" class="area col">
					<h4>Área do Visitante</h4>
				</a>
				<a href="/area/docente" id="area_docente" class="area col">
					<h4>Área do Docente</h4>
				</a>
				<a href="/area/aluno" id="area_aluno" class="area col">
					<h4>Área do Aluno</h4>
				</a>
			</div>
		</div>
	</header> #}

	<main role="main" class="container">

		<div class="row">

			<div class="col-lg-8">
				<h3>Notícias</h3>

				<div class="row mt-3">

					{% for noticia in noticias %}
						<div class="col-md-6 pr-5 mb-5">

								<a href="#" class="noticia-thumbnail border-0">
									<div class="img-top">
										<div class="img" style="background-image: url('{{noticia.imagemPrincipal.url}}')"></div>
									</div>
									<div class="body">
										<h4 class="titulo">{{noticia.titulo  | truncate(100, true, "...")}}</h4>
										<p class="subtitulo">{{noticia.subtitulo | truncate(150, true, "...")}}</p>
									</div>
								</a>
						</div>
					{% endfor %}

				</div>
			</div>

			<div class="col">
				<div class="border-left pl-3">
					<h3>Eventos</h3>
					<div class="row">

						<div class="col">

							{% for evento in eventos %}
								<div class="event-card {% if not loop.last %}border-bottom{% endif %}">
									<div class="header">
										<span class="date">{{evento.data}}</span>
										<span class="time">{{evento.horario}}</span>
									</div>
									<div class="body">
										<p>{{evento.titulo}}</p>
									</div>
								</div>
							{% endfor %}

						</div>
					</div>

				</div>

				<div class="border-left pl-3 mt-4">
					<h3>Links Rápidos</h3>
					<div class="links-rapidos">
						<a class="link is-two">
							<img src="http://www-periodicos-capes-gov-br.ez31.periodicos.capes.gov.br/images/stories/periodicos.png" width="100%" alt="">

						</a>

						<a class="link" href="https://www2.ufscar.br/" target="_blank">
							<img src="http://ppgcc.dc.ufscar.br/linksrapidos/ufscar2.jpg" alt="">
						</a>

						<a class="link"></a>

						<a class="link"></a>

						<a class="link"></a>

						<a class="link"></a>

						<a class="link"></a>

					</div>
				</div>

			</div>

		</main>
	{% endblock %}

	{# {% block js %}
		<script>
			$(document).ready(function () {
				var noticias_carousel = $('#noticias-carousel');
				var thumbnails = document.getElementById("noticias-thumb").children;
				noticias_carousel.on('slide.bs.carousel', function (data) {
					thumbnails[data.from].classList.remove('active');
					thumbnails[data.to].classList.add('active');
				});
			})
		</script>
	{% endblock %} #}
