<nav class="navbar fixed-top navbar-expand-lg">

    <a class="navbar-brand" href="index.html">
        <img src="images/logos/logo_DC_branco.png" width="60" alt="Logo do departamento de computação">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <!-- Ensino -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ensino</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Graduação</a>
                    <a class="dropdown-item" href="#">Pós-graduação</a>
                </div>
            </li>

            <!-- Pesquisa -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pesquisa</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Catálogo</a>
                    <a class="dropdown-item" href="#">Laboratórios</a>
                </div>
            </li>

            <!-- Extensao -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extensão</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Grupos</a>
                    <a class="dropdown-item" href="#">Projetos e ações</a>
                </div>
            </li>

            <!-- Pessoas -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="pessoas.html" role="button" aria-haspopup="true" aria-expanded="false">Pessoas</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="alunos.html">Alunos</a>
                    <a class="dropdown-item" href="docentes.html">Docentes</a>
                    <a class="dropdown-item" href="funcionarios.html">Funcionários</a>
                    <a class="dropdown-item" href="colaboradores.html">Colaboradores</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <!-- Institucional -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Institucional</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="sobre.html">Sobre</a>
                    <a class="dropdown-item" href="contatos.html">Contato</a>
                </div>
            </li>
            <!-- Suporte -->
            <li class="nav-item">
                <a class="btn btn-outline-light" href="#">Suporte</a>
            </li>
        </ul>
    </div>
</nav>