/* Cover section */
.cover-carousel {
    height: 70vh;
    margin-bottom: 30px;
    @include cover-bg();

    .carousel-item {
        height: 60vh;
        min-height: 300px;
        @include cover-bg();
    }

    .logo {
        position: absolute;
        margin: auto;
        width: 200px;
        right: 0;
        bottom: 60vh;
        left: 0;
    }

    .carousel-caption {
        text-align: left;
        margin-bottom: 20px;
        position: absolute;
        left: 0;
        z-index: 9999;
        right: auto;

        span {
            background-color: black;
            padding: 15px;
        }
    }
}

.areas{
    background:$black;
    color: $white;
    position: relative;
    bottom: 0;
    left: 0;

    a {
        cursor: pointer;
        padding: 20px;
        color: $white;

        &:hover{
            text-decoration: none;
        }
    }

    
}

#area_visitante:hover{
    background: orange;
}

#area_docente:hover{
    background: green;
}

#area_aluno:hover{
    background: red;
}

/* nav-bar */

// .navbar{
//     background: black;
//     color: white;
// }

.navbar .nav-link{
    color: white;
}

.navbar-nav > li {
    padding: 0 15px;
}

/* Agenda */
.evento {
    max-width: 300px;
    border-radius: 0px;
    margin: 0 10px 20px 10px;
    display: flex;
    cursor: pointer;
}

.evento:hover{
    background: black;
    color: white;
}

.evento-data{
    padding: 10px;
    float: left;
    min-width: 130px;
}

.evento-corpo{
    padding: 10px;
}

#noticias-carousel .carousel-item {
    height: 400px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#noticias-carousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#noticias-thumb > div{
    height: 100px;
    padding: 10px;
    cursor: pointer;
    
}

#noticias-thumb > div:hover{
    background: black;
}

#noticias-thumb .active{
    background:black;
    color: white;
}

/* Footer */
.footer {
    font-size: 0.8rem

}

.footer p{
    margin: 0;
}
