<h1>Olá %recipient.firstName%</h1>
<p class="text-larger">Uma nova mensagem foi submetida ao {{ brand }}:</p>
{% if enquiry.email %}
	<p class="text-larger">From
	{% if enquiry.name.full %}
		<strong>{{ enquiry.name.full }}</strong>
	{% endif %}

	{% if enquiry.email %}
		(<a href="mailto:{{enquiry.email}}">{{ enquiry.email }}</a>)
	{% endif %}
	</p>

	{% if enquiry.enquiryType %}
		<p class="text-larger">{{ enquiry._.enquiryType.format() }}</p>
	{% endif %}

	{% if enquiry.conteudo %}
		{{ enquiry.conteudo.html | safe }}
	{% endif %}

	<p class="text-muted">Sent {{ enquiry._.createdAt.format() }}</p>
{% endif %}
