<header class="mb-5">
	<nav class="navbar navbar-expand-md navbar-light bg-white shadow menu-superior " data-toggle="affix" data-parent="body">
		<div class="container">
			<div class="navbar-brand " href="/">
				<img src="/images/logos/logo_DC.png" width="50" height="35" alt="Logo do departamento de computação">
				<div class="logo-texto">
					Departamento de Computação
					<span>UFSCar</span></div>

			</div>


			<button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fa fa-navicon"></i>
				</span>
			</button>

			<div class="collapse navbar-collapse  " id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<!-- Ensino -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-graduation-cap"></i>
							Ensino
						</a>

						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Graduação</a>
							<a class="dropdown-item" href="#">Pós-graduação</a>
						</div>
					</li>

					<!-- Pesquisa -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-book"></i>


							Pesquisa</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Catálogo</a>
							<a class="dropdown-item" href="#">Laboratórios</a>
						</div>
					</li>

					<!-- Extensao -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-home"></i>


							Extensão</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Grupos</a>
							<a class="dropdown-item" href="#">Projetos e ações</a>
						</div>
					</li>

					<!-- Pessoas -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="pessoas.html" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-users"></i>

							Pessoas</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="alunos.html">Alunos</a>
							<a class="dropdown-item" href="docentes.html">Docentes</a>
							<a class="dropdown-item" href="funcionarios.html">Funcionários</a>
							<a class="dropdown-item" href="colaboradores.html">Colaboradores</a>
						</div>
					</li>
					<!-- Institucional -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-university"></i>

							Institucional</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="sobre.html">Sobre</a>
							<a class="dropdown-item" href="contatos.html">Contato</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#"><i class="fas fa-question-circle"></i>

							Suporte</a>
					</li>
				</ul>


			</div>
		</div>

	</nav>

	<div id="logos" class="d-flex justify-content-around align-items-center">
		<div class="d-none d-sm-block">
			<img class="image" src="/images/logos/logo_DC_branco.png" alt="">
		</div>

		<div class="text-center">
			<p id="departamento">DEPARTAMENTO DE COMPUTAÇÃO</p>
			<p id="ufscar">UNIVERSIDADE FEDERAL DE SÃO CARLOS</p>
		</div>

		<div class="d-none d-sm-block">
			<img class="image" src="/images/logos/logo_ufscar_branco.png" alt="">
		</div>
	</div>

	<div id="areas" class="container-fluid">
		<div class="row text-center">
			<a href="/area/visitante" id="area_visitante" class="area col">
				<h5>Área do Visitante
					</h4>
			</a>
			<a href="/area/docente" id="area_docente" class="area col">
				<h5>Área do Docente
					</h4>
			</a>
			<a href="/area/aluno" id="area_aluno" class="area col">
				<h5>Área do Aluno
					</h4>
			</a>
		</div>
	</div>
</header>