<header>
	<div id="logos" class="d-flex container justify-content-around align-items-center">
		<div class="d-none d-sm-block">
			<img class="image" src="/images/logos/logo_DC_branco.png" alt="">
		</div>

		<div class="text-center">
			<p id="departamento">DEPARTAMENTO DE COMPUTAÇÃO</p>
			<p id="ufscar">UNIVERSIDADE FEDERAL DE SÃO CARLOS</p>
		</div>

		<div class="d-none d-sm-block">
			<img class="image" src="/images/logos/logo_ufscar_branco.png" alt="">
		</div>
	</div>

	<div id="areas" class="container rounded-top ">
		<div class="row text-center ">
			<a href="/area/visitante" id="area_visitante" class="area col">
				Área do Visitante
			</a>
			<a href="/area/docente" id="area_docente" class="area col">
				Área do Docente
			</a>
			<a href="/area/aluno" id="area_aluno" class="area col">
				Área do Aluno
			</a>
		</div>
	</div>
</header>
<div class="mb-5">
	<nav class="navbar navbar-expand-md navbar-light bg-white shadow " data-toggle="affix" data-parent="body">
		<div class="container">

			<a class="navbar-brand" href="/">
				<img src="/images/logos/logo_DC.png" width="50" alt="Logo do departamento de computação">
			</a>

			<ul class="navbar-nav flex-row ml-auto d-flex order-md-last">

				<li class="nav-item border-right d-md-block d-none"></li>

				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa fa-search"></i>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa fa-adjust"></i>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">PT</i>
					</a>
				</li>
			</ul>

			<button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fa fa-navicon"></i>
				</span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<!-- Ensino -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-graduation-cap"></i> Ensino

						</a>

						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Graduação</a>
							<a class="dropdown-item" href="#">Pós-graduação</a>
						</div>
					</li>

					<!-- Pesquisa -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-book"></i> Pesquisa

						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Catálogo</a>
							<a class="dropdown-item" href="#">Laboratórios</a>
						</div>
					</li>

					<!-- Extensao -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-university"></i> Extensão

						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Grupos</a>
							<a class="dropdown-item" href="#">Projetos e ações</a>
						</div>
					</li>

					<!-- Pessoas -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="pessoas.html" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i> Pessoas</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="alunos.html">Alunos</a>
							<a class="dropdown-item" href="docentes.html">Docentes</a>
							<a class="dropdown-item" href="funcionarios.html">Funcionários</a>
							<a class="dropdown-item" href="colaboradores.html">Colaboradores</a>
						</div>
					</li>
				</ul>

				<ul class="navbar-nav flex-row ml-auto d-block d-md-flex order-md-last">
					<!-- Institucional -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Institucional</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="sobre.html">Sobre</a>
							<a class="dropdown-item" href="contatos.html">Contato</a>
						</div>
					</li>
					<!-- Suporte -->
					<li class="nav-item pr-2">
						<a class="btn btn-outline-primary" href="#">Suporte</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
</div>
