nav {
	li {
		margin-right: 5px;
		margin-left: 5px;
	}
	i {

		margin-right:5px;
	}
	a {
		color: $primary !important;

		&:hover {
			color: $secondary !important;
		}
	}

	.btn {
		&:hover {
			background-color: $secondary;
			color: $white !important;
			border-color: $secondary;
		}
	}
}
