nav {
    transition: all 0.4s ease !important;
}

@media screen and (min-width: 1024px) {
    .menu-superior {
        height: 100px;
        .navbar-brand {
            color: $primary !important;
            display: inline-flex;
            height: 100px;
            flex-direction: row;
            align-items: center;
            .logo-texto {
                margin-left: 20px;
                font-weight: bold;
                font-size: 18px;
                span {
                    color: #858585;
                    display: block;
                    font-weight: normal;
                    font-size: 14px;
                }
            }
        }
        .nav-item {
            text-align: center;
            font-size: 16px;
            border-left: 1px solid #d9d9d9;
            :hover {
                color: $primary !important;
            }
            &:first-of-type {
                border-left: none !important;
            }
            .nav-link {
                color: #2f2f2f;
                padding: 0px 20px;
            }
            i {
                display: block;
                font-size: 20px;
                margin-bottom: 2px;
            }
        }
    }
    nav.navbar.shrink {
        height: 60px;
        i {
            display: none !important;
        }
        .logo-texto {
            opacity: 0;
        }
    }
}

#carrossel {
    .carousel-caption {
        bottom: 35%;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
        * {
            font-size: 30px !important;
            display: inline-block;
            text-transform: uppercase;
        }
        p {
            font-weight: bold; //background: rgba(0, 0, 0, 0.5);
            border-bottom: 3px solid lighten($color: $primary, $amount:20);
            padding: 2px 10px;
            margin-left: 5px;
        }
    }
}

.barra-topo {
    line-height: 30px;
    background: #262626;
    font-size: 14px;
    color: white;
    i {
        margin-right: 10px;
    }
}