.panel-default > .panel-heading{
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-group .panel-heading{
	border-bottom: 0;
}

.panel-heading{
	padding: 10px 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.list-group-item.panel.panel-default{
	padding: 0px;
}

.panel-heading .panel-title a{
	color: black;
}

.panel-heading .panel-title a:hover{
	color: grey;
	text-decoration: none;
}

.panel-collapse{
	padding: 15px;
}