/*breadcrumb*/
.breadcrumb a {
  color: black;
}

/* ajustes de espaçamento */
main.container {
  padding: 100px 15px 15px 15px;
}

/* nav-bar */
.navbar{
    background: black;
    color: white;
}

.navbar .nav-link{
    color: white;
}

.navbar-nav > li {
    padding: 0 15px;
}

/* Footer */
.footer {
    font-size: 0.8rem
}

.footer p{
    margin: 0;
}
