.card-body p{
  margin: 0;
}

/*pagination*/
.page-link {
  color: #333;
  background-color: #FFF;
  border: 1px solid #000;
}

.page-item.disabled .page-link {
  color: #333;
  cursor: auto;
  background-color: #EEE;
  border-color: #000;

}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #111;
  border-color: #000;
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #CCC;
  border-color: #000;
}

