<footer class="footer bg-dark text-light mt-0">
        <!--Footer Links-->
        <div class="container text-center text-md-left">
            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-6 col-xl-4 mt-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Departamento de Computação</strong>
                    </h6>
                    <hr class="mb-2 mt-0" style="width: 100%; border-color:white;">
                    <p>Universidade Federal de São Carlos</p>
                    <p>Rod. Washington Luís, km 235 - Jardim Guanabara</p>
                    <p>CEP 13565-905 - São Carlos/SP</p>
                    <p>E-mail: dc@ufscar.br</p>
                    <p>Telefone: +55 16 3351-8232</p>
                    <p>Fax: +55 16 3351-8233</p>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-4 mt-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Outra Coisa</strong>
                    </h6>
                    <hr class="mb-2 mt-0" style="width: 100%; border-color:white;">

                </div>


                <div class="col-md-8 col-lg-6 col-xl-4 mt-2 d-flex justify-content-between align-items-center">
                    <div>
                        <img width="150px" src="/images/logos/logo_DC_branco.png" alt="">
                    </div>

                    <div>
                        <img width="150px" src="/images/logos/logo_ufscar_branco.png" alt="">
                    </div>

                </div>

            </div>
        </div>
        <!--/.Footer Links-->


        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018
            <a href="http://petbcc.dc.ufscar.br"> PET-BCC UFSCar</a>. Todos os direitos reservados.
        </div>
        <!--/.Copyright-->

    </footer>